.page-template {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;

  .page-template-content-inner {
    background: #fff;
    padding: 60px 90px;
    max-width: 100%;
    margin: auto;

    h2 {
      font-size: 1.5rem;
      color: var(--color-introduction);
      font-weight: 600;
      margin-bottom: 1.875rem;
    }

    p {
      color: #231f20;
    }

    .dot-divider {
      width: 100%;
      height: 3px;
      margin: 2.5rem 0;
      background-image: radial-gradient(circle, var(--color-secondary) 1.5px, transparent 1.5px);
      background-size: 8px 3px;
      background-position: 0 center;
      background-repeat: repeat-x;
    }
  }

}
