.slider-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.splide {
  width: 100%;
  max-width: 100%;
}

.splide__track{
  background-image: url('/assets/images/slider-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 20px 0 35px;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.splide__slide__container {
  position: relative;
  display: inline-flex;
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .caption {
    position: absolute;
    bottom: -27px;
    left: 0;
    /* right: 0; */
    /* background: rgba(0, 0, 0, 0.4); */
    /* color: #fff; */
    /* text-align: center; */
    /* padding: 0.5rem 1rem; */
    /* font-weight: 500; */
    margin: 0;
    font-size: 14px;
  }
}

.splide__pagination {
  bottom: -1.2em !important;

  .splide__pagination__page{
    transform: scale(1.2);
    &.is-active {
      background: #f06522;
    }
  }
}

.splide__arrow {
  background: #77797b;

  &.splide__arrow--prev {
    left: 2em;
  }

  &.splide__arrow--next {
    right: 2em;
  }
}
